@import "../../styles/mixins";

.containerPlayers {
  padding: 1rem;
  h1 {
    padding-left: 1rem;
  }
}
.players {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(15, 1fr);
  gap: 0.5rem;
  grid-auto-rows: 1fr;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--gray-5);
}

.player {
  padding: 1rem;
  display: flex;
  align-items: center;
  padding: 0.3rem;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  align-items: center;
  justify-content: center;
  // flex-direction: column;
  // flex-wrap: wrap;
  color: var(--white);
  cursor: pointer;
  img {
    border-radius: var(--border-radius);
    max-width: 90%;
  }
  &:hover {
    filter: brightness(1.3);
  }
}
.playerPhoto {
 @include playerPhoto;
  .playerPhotoContainer {
    padding: 0rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}
.playerTitleBottom {
  background: var(--degrade-1);
  @include titleBottom;
  h2{
    font-size: 1.25rem;
  }
}

@media (max-width: 1000px) {
  .players {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 600px) {
  .players {
    align-items: initial;
    grid-template-columns: repeat(3, 1fr);
  }

}
