@import "../../styles/mixins";

.teamContainer {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .teamInfoContainer {
    background-color: var(--gray-5);
    box-shadow: var(--shadow);
  }
  .teamGrid {
    .teamPlayer {
      background-color: var(--gray-5);
      box-shadow: var(--shadow);
    }
  }
}
.teamInfo {
  margin-right: 2rem;
  min-width: 10rem;
  .teamInfoContainer{
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    display: grid;
    margin-bottom: 1rem;
  }
}
.teamGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  grid-auto-rows: 1fr;
  padding-bottom: 1rem;
  .teamPlayer {
    display: grid;
    border-radius: var(--border-radius);
  }
}
.teamStats {
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  padding: 1rem;
  width: 100%;
}
.teamImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}
.playerImg {
  display: flex;
  width: 100%;
}
.playerName,
.teamName {  
 @include titleBottom;
  padding: 1rem;
  font-family: var(--font-1);
  font-size: 1.25rem;
  h2{
    color:var(--white);
  }
  div{
    cursor: pointer;
    &:hover{
      color:var(--black);
    }
  }
}
.statusTitle {
  display: flex;
  border-radius: var(--border-radius-top);
  width: 100%;
  padding: 1rem;
  font-family: var(--font-1);
  text-align: center;
  justify-content: center;
  justify-self: last baseline;
  font-size: 1.25rem;
  h2{
    color:var(--white);
  }
}
@media (max-width: 1000px) {
  .teamGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    grid-auto-rows: 1fr;
    padding-bottom: 1rem;
  }
}
@media (max-width: 600px) {
  .teamGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    grid-auto-rows: 1fr;
    padding-bottom: 1rem;
  }
}
