.containerTeams{
    padding: 1rem;
    h1{
        padding-left: 1rem;
    }  
}
.teams{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(15, 1fr);
    gap: 0.5rem;
    grid-auto-rows: 1fr;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--gray-5);
}

.team{
    padding: 1rem;
    
    display: flex;
    align-items: center;
    
    :first-child {
        padding: 0.3rem;
        border-radius: 1.5rem 0 1.5rem 0;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        color: var(--white);
        cursor: pointer;
        img {
          border-radius: 1rem;
          max-width: 90%;
        }
        &:hover{
            filter: brightness(1.3);
        }
    }
}