@mixin playerPhoto {
  display: grid;
  background-color: var(--gray-5);
  box-shadow:var(--shadow);
  border-radius: var(--border-radius);
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
}

@mixin titleBottom{
  display: flex;
  border-radius: var(--border-radius-bottom);
  cursor: pointer;
  color: var(--white);
  justify-content: center;
  justify-self: last baseline;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}