.playerContainer {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  h2{
    display: flex;
    align-items: center;
    div{
      margin-right: 0.75rem !important;
    }
  }
  .playerTitle {
    display: flex;
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    color: var(--white);
    padding: 1rem;
    font-family: var(--font-1);
    text-align: center;
    justify-content: center;
    justify-self: last baseline;
    font-size: 1.25rem;
  }
  .playerTitleBottom {
    display: flex;
    border-radius: 0 0 1rem 1rem;
    width: 100%;
    color: var(--white);
    padding: 1rem;
    font-family: var(--font-1);
    text-align: center;
    justify-content: center;
    justify-self: last baseline;
    font-size: 1.25rem;
    cursor: pointer;
  }
  .playerPhoto {
    background-color: var(--gray-5);
    box-shadow: 0px 2px 4px var(--black);
    margin: 0;
    padding: 0;
  }
  .playerInfo {
    background-color: var(--gray-5);
    box-shadow: 0px 2px 4px var(--black);
  }
  .playerCareer {
    display: flex;
    flex-direction: column;
    background-color: var(--gray-5);
    box-shadow: 0px 2px 4px var(--black);
  }
  .playerStats {
    display: flex;
    flex-direction: column;
    background-color: var(--gray-5);
    box-shadow: 0px 2px 4px var(--black);
  }
}
