.playerContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  padding-top: 3rem;
  h2 {
    display: flex;
    align-items: center;
    margin-bottom: 0.50rem;
    div {
      margin-right: 0.75rem !important;
    }
  }
  .playerPhoto {
    background-color: var(--gray-5);
    box-shadow: 0px 2px 4px var(--black);
    border-radius: var(--border-radius);
    margin: 0;
    padding: 0;
    display: grid;
    margin-bottom: 1rem;
    .playerPhotoContainer {
      padding: 0rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .playerInfo {
    background-color: var(--gray-5);
    box-shadow: 0px 2px 4px var(--black);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    .playerInfoContainer {
      padding: 1rem;
      display: flex;
      align-items: center;
      div:first-child {
        margin-right: 2rem;
      }
    }
  }
  .playerCareer {
    display: flex;
    flex-direction: column;
    background-color: var(--gray-5);
    box-shadow: 0px 2px 4px var(--black);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    .playerCareerContainer {
      padding: 1rem;
    }  
  }
}

.playerSubContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  .playerStats {
    display: flex;
    flex-direction: column;
    background-color: var(--gray-5);
    box-shadow: 0px 2px 4px var(--black);
    border-radius: var(--border-radius);
    margin: 1rem;
    width: 80vw;
  }
  .playerStatsContainer {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    div:first-child {
      margin-right: 2rem;
    }
  }
}

.playerTitleBottom {
  display: flex;
  border-radius: var(--border-radius-bottom);
  width: 100%;
  color: var(--white);
  padding: 1rem;
  font-family: var(--font-1);
  text-align: center;
  justify-content: center;
  justify-self: last baseline;
  font-size: 1.25rem;
  cursor: pointer;
}
.playerTitle {
  display: flex;
  border-radius: var(--border-radius-top);
  width: 100%;
  color: var(--white);
  padding: 1rem;
  font-family: var(--font-1);
  text-align: center;
  justify-content: center;
  justify-self: last baseline;
  font-size: 1.25rem;
}

